{% extends 'base/layout.html' %}

{% block title %}
Driver App
{% endblock title %}


{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Driver App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
         <li class="nav-item">
          <a class="nav-link" href="{% url 'driver_index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'available_mechanics' %}">Search Mechanics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'driver_account' %}">Account</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{% url 'driver_logout' %}">Logout</a>
        </li>
       
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
    {% block inner_content %}
        
    {% endblock inner_content %}

</div>


{% endblock content %}
